<html xml="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form th:action="@{phoneSave}" th:object="${product}" method="POST">
            <input type="text" th:field="*{title}" placeholder="Enter product name" class="form-control col-4 mb-4" />
            <input type="number" step="0.01" th:field="*{prots}" placeholder="Enter the amount of proteins" class="form-control col-4 mb-4" />
            <input type="number" step="0.01" th:field="*{fats}" placeholder="Enter the amount of fats" class="form-control col-4 mb-4" />
            <input type="number" step="0.01" th:field="*{carbos}" placeholder="Enter the amount of carbos" class="form-control col-4 mb-4" />
            <input type="number" th:field="*{kcal}" placeholder="Enter the amount of calories" class="form-control col-4 mb-4" />
            <input type="number" th:field="*{weight}" placeholder="Enter weight " class="form-control col-4 mb-4" />
            <button class="btn btn-primary" type="submit">Save</button>
            <input type="hidden" th:field="*{id}" />
        </form>
        <hr/>
        <a th:href="@{/products/}">Back to list</a>
    </div>
</body>
</html>