<html xml="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="~{fragments/menu :: menu}"></div>
    <div class="container">
        <div class="left-section">
            <div class="main-image">
                <!-- Замените ссылку на изображение на адрес вашего изображения товара -->
                <img th:src="@{/img/phones.png}" alt="Главное изображение товара">
            </div>
            <div class="image-slider">
                <!-- Замените ссылки на изображения на адреса ваших маленьких фотографий товара -->
                <div class="slider-item">
                    <img th:src="@{/img/phones.png}" alt="Маленькое изображение 1">
                </div>
                <div class="slider-item">
                    <img th:src="@{/img/phones.png}" alt="Маленькое изображение 2">
                </div>
                <div class="slider-item">
                    <img th:src="@{/img/phones.png}" alt="Маленькое изображение 3">
                </div>
                <div class="slider-item">
                    <img th:src="@{/img/phones.png}" alt="Маленькое изображение 4">
                </div>
                <div class="slider-item">
                    <img th:src="@{/img/phones.png}" alt="Маленькое изображение 5">
                </div>
            </div>
        </div>
        <div class="right-section">
            <h2>Характеристики товара</h2>
            <ul>
                <!-- Замените текст и значения характеристик на соответствующие вашему товару -->
                <li>Характеристика 1: Значение 1</li>
                <li>Характеристика 2: Значение 2</li>
                <li>Характеристика 3: Значение 3</li>
                <!-- Добавьте дополнительные характеристики товара, если необходимо -->
            </ul>
        </div>
    </div>
<!--    <div class="container">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div th:each="phone : ${phones}" class="col-md-4">-->
<!--                    <div class="card mb-4">-->
<!--                        <img class="card-img-top" th:src="@{/img/phones.png}" alt="Телефоны">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title" th:text="${phone.product.title}"></h5>-->
<!--                            <p class="card-text" th:text="${phone.id}"></p>-->
<!--                            <p class="card-text" th:text="${phone.product.category}"></p>-->
<!--                            <p class="card-text" th:text="${phone.brand}"></p>-->
<!--                            <p class="card-text" th:text="${phone.model}"></p>-->
<!--                        </div>-->
<!--                        <a th:href="@{/catalog/phones/{id}(id=${phone.id})}">Просмотреть</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>