<html xml="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="~{fragments/menu :: menu}"></div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div th:each="phone : ${phones}" class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" th:src="@{/img/phones.png}" alt="Телефоны">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${phone.product.title}"></h5>
                            <p class="card-text" th:text="${phone.id}"></p>
                            <p class="card-text" th:text="${phone.product.category}"></p>
                            <p class="card-text" th:text="${phone.brand}"></p>
                            <p class="card-text" th:text="${phone.model}"></p>
                        </div>
                        <a th:href="@{/catalog/phones/{id}(id=${phone.id})}">Просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </div>
</body>
</html>