<html xml="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{menu :: menu}"></div>
<div class="container">
    <div class="container">
        <div class="row">
            <div th:each="product : ${products}" class="col-md-4">
                <div class="card mb-4">
                    <img th:src="@{${product.urlImg}}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.title}">Product Name</h5>
                        <p class="card-text" th:text="${product.brand}">Weight</p>
                        <p class="card-text" th:text="${product.model}">Weight</p>
                        <p class="card-text" th:text="${product.price}">Weight</p>
                        <!-- Другие типичные данные товара -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>
    <!--
    <hr/>
    <table class="table table-bordered table-striped" id="employeeTable">
        <thead>
        <tr>
            <th>Название продукта</th>
            <th>Протеины</th>
            <th>Жиры</th>
            <th>Углеводы</th>
            <th>Клаории</th>
            <th>Вес</th>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
            <th colspan="2">Action</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.title}"></td>
            <td th:text="${product.prots}"></td>
            <td th:text="${product.fats}"></td>
            <td th:text="${product.carbos}"></td>
            <td th:text="${product.kcal}"></td>
            <td th:text="${product.weight}"></td>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <td>
                    <a th:href="@{/products/showUpdateForm(id=${product.id})}" class="btn btn-info">Update</a>
                    <a th:href="@{/products/deleteEntity(id=${product.id})}" class="btn btn-danger ml-2">Delete</a>
                </td>
            </div>
        </tr>
        </tbody>
    </table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js"></script>
-->
</body>
</html>