<html xml="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="~{fragments/menu :: menu}"></div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div th:each="phone : ${phonesList}" class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" th:src="@{../../static/img/phones.png}" alt="Телефоны">
                        <div class="card-body">
                            <a th:href="@{'/catalog/phones/' + ${phone.id}}">
                                <h5 class="card-title" th:text="${phone.product.title}"></h5>
                            </a>
                            Category : <span class="card-text" th:text="${phone.product.category}"></span>
                            <br>
                            Brand : <span class="card-text" th:text="${phone.brand}"></span>
                            <br>
                            Model : <span class="card-text" th:text="${phone.model}"></span>
                        </div>
                        <a th:href="@{/catalog/phones/showUpdateForm(id=${phone.id})}" class="btn btn-info">Update</a>
                        <a th:href="@{/catalog/phones/delete(id=${phone.id})}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>