<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .sidebar-style {
            height: 100vh;
        }
        .nav-link {
            color: #d0d0d0;
        }

        .nav-link:hover {
            color: #fffd11;
        }

        .nav-link:active {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div th:insert="~{fragments/menu :: menu}"></div>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar sidebar-style">
                <div th:insert="~{fragments/sidebar :: sidebar}"></div>
            </nav>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<!--                Content-->
                <div>
                    <p>Phone</p>
                    <a th:href="@{/catalog/phones/newEntityForm}" class="card-title">Add</a>
                    <a th:href="@{/catalog/phones/quickSave}" class="card-title">Быстрый объект</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
